body{
   background-color: black;
}

h1{
    color: #fff;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;

}
.sss{
    margin: 5%;
    width: 100%;
    padding: 30px;
    
}

.qqq{
    width: 60%;
    height: 160%;
    border-radius: 20px;
}


.col-container {
    display: flex;
    width: 100%;
  }
  .col {
    flex: 1;
    padding: 16px;
  }

  footer{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    color: #fff;
    align-items: center;
}

footer .text{
    width: 60%;
    font-size: 14px;
    color: #777;
    text-align: center;

}

footer a{
    text-decoration: none;
    color: #fff;
   display: flex;

}

.ppp{
    color:#fff;
}
